/* Colors and fonts */

body {
    background-image: url(https://images.unsplash.com/photo-1547013035-e12451b7aa36?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=874&q=80);
    color: #575F7D;
    font-family: 'Lora', serif;
    font-size: 17px;
    font-weight: lighter;
}

h1,
h2 {
    font-family: 'Roboto', sans-serif;
}

h1 {
    color: #575F7D;
    font-size: 32px;
    font-weight: 900;
}

h2 {
    color: #b5179e;
    font-size: 20px;
    font-weight: 300;
}

a {
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: #6b72E1;
    font-weight: 600;
    font-size: 16px;
}

a:hover {
    color: black;
}


/* Custom design with class */

.container {
    width: 850px;
    margin: 40px auto;
}

@media (max-width: 992px) {
    .container {
        width: 700px;
    }
}

@media (max-width: 768px) {
    .container {
        width: 500px;
    }
}

@media (max-width: 576px) {
    .container {
        width: 400px;
    }
}

.card-white {
    background-color: white;
    padding: 40px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin: 20px 0px;
    text-align: center;
}

.card-white:hover {
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.img-circle {
    border-radius: 50%;
    display: inline-block;
    width: 100px;
}

.img-circle:hover {
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.img-container {
    height: 120px;
}

.btn-pink {
    background-color: #b5179e;
    color: white;
    padding: 15px 20px;
    border-radius: 4px;
}

.btn-pink:hover {
    background-color: black;
    color: white;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.list-inline {
    list-style: none;
    padding-left: 0px;
}

.list-inline li {
    display: inline;
    padding: 20px;
}

.list-inline i {
    font-size: 50px;
    color: #b5179e;
}

.list-inline i:hover {
    color: black;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

#introduction p {
    margin-bottom: 40px;
}